<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <!-- Header -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-4 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Loader -->

        <!-- Title -->
        <div class="text-xl font-extrabold tracking-tight">Users List</div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-64 h-[30px]"
                [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                    class="icon-size-4 mb-1"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"
                ></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Search users'"
                />
            </mat-form-field>
            <!-- Add user button -->
            <button class="ml-2 rounded-full h-[30px]" mat-flat-button [color]="'primary'" (click)="create('-1')">
                <mat-icon class="icon-size-4 stroke-white" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                <span class="my-auto mx-0 sm:mx-1 hidden sm:block text-md font-semibold tracking-tight ">Add User</span>
              </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-auto">
        <div
            class="flex flex-auto flex-col overflow-hidden lg:overflow-auto sm:mb-18 sm:overflow-y-auto"
        >
            @if (users$ | async; as users) {
                @if (users.length > 0) {
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="inventory-grid text-secondary sticky top-0 z-10 grid gap-2 bg-gray-50 px-4 py-2 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                            matSort
                            matSortDisableClear
                        >
                            <div>No</div>
                            <div [mat-sort-header]="'firstName'">
                                First Name
                            </div>
                            <div
                                [mat-sort-header]="'lastName'"
                                class="hidden truncate sm:block"
                            >
                                Last Name
                            </div>

                            <div [mat-sort-header]="'userName'">User Name</div>

                            <div
                                [mat-sort-header]="'email'"
                                class="hidden truncate md:block"
                            >
                                Email
                            </div>

                            <div
                                class="hidden truncate md:block"
                                [mat-sort-header]="'createdBy'"
                            >
                                Created By
                            </div>
                            <div
                                class="hidden md:block whitespace-nowrap"
                                [mat-sort-header]="'createdOn'"
                            >
                                Created On/ Time Zone
                            </div>
                            <div
                                class="hidden lg:block whitespace-nowrap"
                                [mat-sort-header]="'createdLocal'"
                            >
                                Reflect Your Time Zone
                            </div>
                            <div>Action</div>
                        </div>

                        <!-- Rows -->
                        @if (users$ | async; as users) {
                            @for (
                                user of users;
                                track trackByFn($index, user)
                            ) {
                                <div
                                    class="inventory-grid grid items-center gap-2 border-b px-4 text-md md:px-8"
                                >
                                    <div class="flex items-center">
                                        <div class="overflow-hidden">
                                            {{ $index + 1 }}
                                        </div>
                                    </div>
                                    <div class="truncate" title="First Name: {{ user.firstName }}">
                                        {{ user.firstName }}
                                    </div>
                                    <div class="hidden truncate sm:block">
                                        {{ user.lastName }}
                                    </div>
                                    <div class="truncate" matTooltip="Click to view or Edit {{ user.userName }}">
                                        <a (click)="edit(user.id)" class="link">
                                            {{ user.userName }}
                                        </a>
                                    </div>
                                    <div class="hidden truncate md:block text-left">
                                        {{ user.email }}
                                    </div>
                                    <div class="hidden truncate md:block text-left">
                                        {{ user.createdBy }}
                                    </div>
                                    <div class="hidden truncate md:block text-left " matTooltip="{{user.createdOn| date: 'dd-MMM-yyyy hh:mm a'}} TimeZone {{ user.timezone }}">
                                        {{
                                            user.createdOn
                                                | date: 'dd-MMM-yyyy hh:mm a'
                                        }}
                                        {{ user.timezone }}
                                    </div>
                                    <div class="hidden truncate lg:block text-left"  matTooltip="{{ user.createdLocal| date: 'dd-MMM-yyyy hh:mm a'}}">
                                        {{
                                            user.createdLocal
                                                | date: 'dd-MMM-yyyy hh:mm a'
                                        }}
                                    </div>

                                    <div>
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="userMenu"
                                            matTooltip="Click to Edit or Inactivate">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="
                                                    'heroicons_mini:ellipsis-horizontal'
                                                "
                                            ></mat-icon>
                                        </button>
                                        <mat-menu #userMenu="matMenu">
                                            <button
                                                mat-menu-item
                                                (click)="edit(user.id)"
                                            >
                                                <span class="flex items-center">
                                                    <mat-icon
                                                        class="mr-3 icon-size-5"
                                                        [svgIcon]="
                                                            'heroicons_solid:pencil'
                                                        "
                                                    ></mat-icon>
                                                    <span>Edit</span>
                                                </span>
                                            </button>
                                            <button
                                                mat-menu-item
                                                (click)="
                                                    openComposeDialog(user.id)
                                                "
                                            >
                                                <span class="flex items-center">
                                                    <mat-icon
                                                        class="mr-3 icon-size-5"
                                                        [svgIcon]="
                                                            'heroicons_solid:user-minus'
                                                        "
                                                    ></mat-icon>
                                                    <span>Inactivate User</span>
                                                </span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <mat-paginator
                        class="z-10 h-11 border-b bg-gray-50 dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t"
                        [ngClass]="{ 'pointer-events-none': isLoading }"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[25, 50, 100]"
                        [showFirstLastButtons]="true"
                    ></mat-paginator>
                } @else {
                    <div
                        class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16"
                    >
                        There are no users!
                    </div>
                }
            }
        </div>
    </div>
</div>
