<div class="-m-6 flex max-h-screen max-w-240 flex-col md:min-w-160">
    <!-- Header -->
    <div class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5">
        <div class="text-lg font-medium">Case Action Information</div>
        <button mat-icon-button (click)="Close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
    <!-- Compose form -->
    <form class="flex flex-auto flex-col overflow-y-auto p-6 sm:p-8" [formGroup]="composeForm">
        <div class="flex flex-col md:flex-row md:space-x-4">
            <!-- Injury Category -->
            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Action Status</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-select formControlName="actionStatus">
                        @for (
                        status of actionStatuses;
                        track status
                        ) {
                        <mat-option [value]="
                            status.actionStatusId
                        ">
                            {{ status.title }}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Injury Type -->
            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Action Type</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-select formControlName="actionTypeId">
                        @for (
                        type of actionTypes;
                        track type
                        ) {
                        <mat-option [value]="
                        type.actionTypeId
                        ">
                            {{ type.title }}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="flex flex-col md:flex-row md:space-x-4">

            <!-- Injury Type -->
            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Responsible Department</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-select formControlName="responsibleDeptId">
                        @for (
                        dept of departments;
                        track dept
                        ) {
                        <mat-option [value]="
                            dept.departmentId
                        ">
                            {{ dept.title }}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Action Taken</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <input matInput formControlName="actionTaken" />
                </mat-form-field>
            </div>
        </div>
        <div class="flex flex-col md:flex-row md:space-x-4">

            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Deadline Set</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <input matInput [matDatepicker]="picker1" formControlName="deadline" />
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Completed On</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <input matInput [matDatepicker]="picker2" formControlName="completedOn" />
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>

        </div>

        <div class="flex flex-col md:flex-row md:space-x-4">
            <!-- Person Name -->
            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Description</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <textarea matInput formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"></textarea>
                </mat-form-field>
            </div>
        </div>




        <!-- Actions -->
        <div class="mt-4 flex flex-col justify-between sm:mt-6 sm:flex-row sm:items-center">


            <div class="mt-4 flex items-center sm:mt-0 justify-end w-fulljustify-end w-full">

                <!-- Save as draft -->
                <button type="button" class="sm:mx-3" mat-stroked-button (click)="Close()">
                    <span>Cancel</span>
                </button>
                <!-- Send -->
                <button class="order-first sm:order-last" [disabled]="!composeForm.valid" mat-flat-button
                    [color]="'primary'" (click)="onSubmit()">
                    {{ buttonText }}
                </button>
            </div>
        </div>
    </form>
</div>