<div class="flex min-w-0 flex-auto flex-col">
  <!-- Header -->
  <div class="bg-gray-50 flex flex-0 flex-col p-1 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between">
    <div class="min-w-0 flex-1">
      <div class="flex-auto px-1">

        <form [formGroup]="caseForm">
          <div class="bg-card min-h-[88vh] mt-2 flex flex-col overflow-hidden rounded shadow">
            <div class="p-4">
              <span
                class="truncate text-xl text-primary mb-2 font-bold leading-7 tracking-tight sm:leading-10 md:text-xl">
                General Information
              </span>
              <div class="flex flex-col md:flex-row md:space-x-4">
                <div class="flex flex-col w-full">
                  <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label class="font-medium  text-gray-600 hover:font-semibold">Case Title</mat-label>
                    <input matInput formControlName="title" />
                    <mat-error> </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="flex flex-col md:flex-row md:space-x-4">
                <div class="flex flex-col w-full">
                  <mat-label class="font-medium text-gray-600 hover:font-semibold">Case Description</mat-label>
                  <mat-form-field class="flex-none">
                    <textarea matInput formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="10"></textarea>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="flex flex-col md:flex-row md:space-x-4">
                <div class="flex flex-col w-full">
                  <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label class="text-gray-600 hover:font-semibold">Status</mat-label>
                    <mat-select formControlName="caseStatusId">
                      @for (
                      status of caseStatuses;
                      track status
                      ) {
                      <mat-option [value]="
                                    status.caseStatusId
                                    ">
                        {{ status.title }}
                      </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="flex flex-col w-full">
                  <mat-form-field class="fuse-mat-dense flex-auto ">
                    <mat-label class="text-gray-600 hover:font-semibold">Case Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="caseDate"/>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="flex flex-col w-full">
                  <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label class="text-gray-600 hover:font-semibold">Due Date</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="dueDate" />
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="flex flex-col md:flex-row md:space-x-4">
                <div class="flex flex-col w-full">
                  <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label class="text-gray-600 hover:font-semibold">Connected
                      Case</mat-label>
                    <mat-select formControlName="connectedCaseId">
                      @for (
                      connectedCase of connectedCases;
                      track connectedCase
                      ) {
                      <mat-option [value]="connectedCase.caseId">
                        {{ connectedCase.title }}
                      </mat-option>
                      }
                    </mat-select>
                    <mat-error></mat-error>
                  </mat-form-field>
                </div>
                <div class="flex flex-col w-full">
                  <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label class="text-gray-600 hover:font-semibold">Category</mat-label>
                    <mat-select formControlName="catId">
                      @for (
                      category of caseCategories;
                      track category
                      ) {
                      <mat-option [value]="
                                    category.caseCategoryId
                                ">
                        {{ category.title }}
                      </mat-option>
                      }
                    </mat-select>
                    <mat-error></mat-error>
                  </mat-form-field>
                </div>
                <div class="flex flex-col w-full">
                  <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label class="text-gray-600 hover:font-semibold">Risk
                      Category</mat-label>
                    <mat-select formControlName="riskCatId">
                      @for (
                      category of riskCategories;
                      track category
                      ) {
                      <mat-option [value]="
                                    category.riskCategoryId
                                ">
                        {{ category.title }}
                      </mat-option>
                      }
                    </mat-select>
                    <mat-error></mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="flex flex-col md:flex-row md:space-x-4">
                <div class="flex flex-col w-full">
                  <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label class="text-gray-600 hover:font-semibold">Responsible Department</mat-label>
                    <mat-select formControlName="responsibleDepartmentId">
                      @for (
                      category of departments;
                      track category
                      ) {
                      <mat-option [value]="
                                    category.departmentId
                                ">
                        {{ category.title }}
                      </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="flex flex-col w-full">
                  <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label class="text-gray-600 hover:font-semibold">Reporting
                      Department</mat-label>
                    <mat-select formControlName="reportingDeptId">
                      @for (
                      category of departments;
                      track category
                      ) {
                      <mat-option [value]="
                                    category.departmentId
                                ">
                        {{ category.title }}
                      </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="flex flex-col w-full">
                  <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label class="text-gray-600 hover:font-semibold">Reported By Company</mat-label>
                    <input matInput formControlName="reportedByCompany"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="flex flex-col md:flex-row md:space-x-4">
                <div class="flex flex-col w-full">
                  <mat-label class="font-medium text-gray-600 hover:font-semibold">Immediate Action
                    Taken</mat-label>
                  <mat-form-field class="flex-none">
                    <textarea matInput formControlName="immediateActionTaken" cdkTextareaAutosize cdkAutosizeMinRows="3"
                      cdkAutosizeMaxRows="3"></textarea>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                  </mat-form-field>
                </div>
                <div class="flex flex-col w-full">
                  <mat-label class="font-medium text-gray-600 hover:font-semibold">Consequences
                    Comment</mat-label>
                  <mat-form-field class="flex-none">
                    <textarea matInput formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="3"
                      cdkAutosizeMaxRows="3"></textarea>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="flex flex-col md:flex-row md:space-x-4">
                <div class="flex flex-col w-full">
                  <mat-label class="font-medium text-gray-600 hover:font-semibold">Potential Cause</mat-label>
                  <mat-form-field class="flex-none">
                    <textarea matInput formControlName="potentialCause" cdkTextareaAutosize cdkAutosizeMinRows="3"
                      cdkAutosizeMaxRows="3"></textarea>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                  </mat-form-field>
                </div>
                <div class="flex flex-col w-full">
                  <mat-label class="font-medium text-gray-600 hover:font-semibold">Revealing Circumstances (How Revealed)</mat-label>
                  <mat-form-field class="flex-none">
                    <textarea matInput formControlName="howRevealed" cdkTextareaAutosize cdkAutosizeMinRows="3"
                      cdkAutosizeMaxRows="3"></textarea>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="flex flex-row md:space-x-4">
                <div class="flex flex-col w-full">
                  <div class="mt-2 flex items-end justify-end">
                    <div class="flex items-end ml-auto">
                      <button class="rounded-full bg-transparent ring-1 ring-primary mr-2" type="button" mat-button
                        (click)="onCancel()">Cancel</button>
                      <button class="rounded-full" mat-flat-button [color]="'primary'" (click)="onSubmit()"> {{
                        buttonText }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- <app-sticky-menu-toggle></app-sticky-menu-toggle> -->
    </div>