<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-4"
    >
        <div class="min-w-0 flex-1">
  
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="truncate text-xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-xl"
                >
               Incident General Information
                </h2>
            </div>
        </div>
        <button
            class="order-first -ml-3 mb-2 sm:order-last sm:mb-0 sm:ml-0"
            mat-icon-button
            (click)="toggleDrawer()"
        >
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
    </div>

    <div class="flex-auto pl-4  pr-4">
        <form [formGroup]="caseForm">
            <div class="bg-card mt-4 flex flex-col overflow-hidden rounded shadow">
              <div class="p-8 pb-4">
                <div class="flex flex-col md:flex-row md:space-x-4">
                  <div class="flex flex-col w-full">
                    <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Case Title</span>
                    <mat-form-field class="fuse-mat-dense flex-auto">
                      <input matInput formControlName="title" />
                      <mat-error>  </mat-error>
    
                    </mat-form-field>
                  </div>
          
                  <div class="flex flex-col w-full">
                    <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Risk Category</span>
                    <mat-form-field class="fuse-mat-dense flex-auto">
                      <mat-select formControlName="riskCatId">
                        <mat-option value="1">Risk 1</mat-option>
                        <mat-option value="2">Risk 2</mat-option>
                        <mat-option value="3">Risk 3</mat-option>
                      </mat-select>
                      <mat-error></mat-error>
                    </mat-form-field>

                  </div>
          
                  <div class="flex flex-col w-full">
                    <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Reporting Department</span>
                    <mat-form-field class="fuse-mat-dense flex-auto">
                      <mat-select formControlName="reportingDeptId">
                        <mat-option value="1">Dept 1</mat-option>
                        <mat-option value="2">Dept 2</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
          
                  <div class="flex flex-col w-full">
                    <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Technology Type</span>
                    <mat-form-field class="fuse-mat-dense flex-auto">
                      <input matInput formControlName="technologyType" />
                    </mat-form-field>
                  </div>
                </div>
          
                <div class="flex flex-col md:flex-row md:space-x-4">
                  <div class="flex flex-col w-full">
                    <mat-form-field class="flex-auto">
                      <mat-label class="font-medium hover:font-bold">Case Date</mat-label>
                      <input matInput [matDatepicker]="picker1" formControlName="caseDate" />
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
          
                  <div class="flex flex-col w-full">
                    <mat-form-field class="flex-auto">
                      <mat-label class="font-medium hover:font-bold">Due Date</mat-label>
                      <input matInput [matDatepicker]="picker2" formControlName="dueDate" />
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
          
                  <div class="flex flex-col w-full">
                    <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Work Place</span>
                    <mat-form-field class="fuse-mat-dense flex-auto">
                      <input matInput formControlName="workPlace" />
                    </mat-form-field>
                  </div>
          
                  <div class="flex flex-col w-full">
                    <mat-checkbox formControlName="isAuthorityNotified" class="mb-2 mt-4" [color]="'primary'" >Authority Notified?</mat-checkbox>
                  </div>
                </div>
          
                <div class="flex flex-col md:flex-row md:space-x-4">
                  <div class="flex flex-col w-full">
                    <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Consequences Total Loss</span>
                    <mat-form-field class="fuse-mat-dense flex-auto">
                      <input matInput formControlName="totalLoss" />
                    </mat-form-field>
                  </div>
          
                  <div class="flex flex-col w-full">
                    <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Immediate Action Taken</span>
                    <mat-form-field class="fuse-mat-dense flex-auto">
                      <input matInput formControlName="immedActionTaken" />
                    </mat-form-field>
                  </div>
                </div>
          
                <div class="flex flex-col md:flex-row md:space-x-4">
                  <div class="flex flex-col w-full">
                    <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Case Description</span>
                    <mat-form-field class="flex-auto">
                      <textarea matInput formControlName="description" [rows]="3"></textarea>
                    </mat-form-field>
                  </div>
          
                  <div class="flex flex-col w-full">
                    <span class="text-left min-w-32 mr-4 mb-1 font-medium hover:font-bold">Consequences Comment</span>
                    <mat-form-field class="flex-auto">
                      <textarea matInput formControlName="comments" [rows]="3"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="mt-4 mb-4 flex items-center justify-end">
              <button type="button"  mat-button  (click)="onCancel()">Cancel</button>
              <button class="ml-3 px-6" mat-flat-button [color]="'primary'" (click)="saveData()">Save</button>
            </div>
          </form>
          
    </div>
</div>
