/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
// styles.scss

.snackbar-success {
    background: #4caf50!important; /* Green background */
    color: white; /* White text */
}

/* Error Snackbar */
.snackbar-error {
    background-color: #f44336!important; /* Red background */
    color: white; /* White text */
}

/* Info Snackbar */
.snackbar-info {
    background-color: #2196f3!important; /* Blue background */
    color: white; /* White text */
}


.link {
    color: #2563eb; // Tailwind's blue-600 color
    text-decoration: underline;
    font-weight: 500; // medium font weight
    transition: color 0.2s ease-in-out;
   cursor: pointer!important;
    &:hover {
      color: #1e40af; // Tailwind's blue-800 color
    }
  }
  