<div class="-m-6 flex max-h-screen max-w-240 flex-col md:min-w-160">
    <!-- Header -->
    <div class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5">
        <div class="text-lg font-medium">Injury information</div>
        <button mat-icon-button (click)="Close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
    <!-- Compose form -->
    <form class="flex flex-auto flex-col overflow-y-auto p-6 sm:p-8" [formGroup]="composeForm">

        <div class="flex flex-col md:flex-row md:space-x-4">
            <!-- Injury Category -->
            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium text-gray-600 hover:font-semibold">Injury
                    Category</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-select formControlName="injCatId">
                        @for (
                        category of injuryCategories;
                        track category
                        ) {
                        <mat-option [value]="
                            category.injuryCategoryId
                        ">
                            {{ category.title }}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Injury Type -->
            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium text-gray-600 hover:font-semibold">Injury
                    Type</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-select formControlName="injTypeId">
                        @for (
                        category of injuryTypes;
                        track category
                        ) {
                        <mat-option [value]="
                            category.injuryTypeId
                        ">
                            {{ category.title }}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="flex flex-col md:flex-row md:space-x-4">


            <!-- Course of Event -->
            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium text-gray-600 hover:font-semibold">Course of
                    Event</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <input matInput formControlName="courseOfEvent" />
                </mat-form-field>
            </div>

            <!-- Body Part -->
            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium text-gray-600 hover:font-semibold">Body
                    Part</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <input matInput formControlName="bodyPart" />
                </mat-form-field>
            </div>
        </div>

        <div class="flex flex-col md:flex-row md:space-x-4">
            <!-- Person Name -->
            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium text-gray-600 hover:font-semibold">Person
                    Name</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <input matInput formControlName="personName" />
                </mat-form-field>
            </div>

            <!-- Person Gender -->
            <!-- Gender -->
            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium text-gray-600 hover:font-semibold">Gender</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-select formControlName="personGender">
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                        <mat-option value="Other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="flex flex-col md:flex-row md:space-x-4">
            <!-- Person Age -->
            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium text-gray-600 hover:font-semibold">Person
                    Age</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <input matInput formControlName="personAge" />
                </mat-form-field>
            </div>

            <!-- Person Nationality -->
            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium text-gray-600 hover:font-semibold">Person
                    Nationality</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <input matInput formControlName="personNationality" />
                </mat-form-field>
            </div>

        </div>

        <div class="flex flex-col md:flex-row md:space-x-4">
            <!-- Person Designation -->
            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium text-gray-600 hover:font-semibold">Person
                    Designation</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <input matInput formControlName="personDesignation" />
                </mat-form-field>
            </div>

            <!-- Employment Category -->
            <div class="flex flex-col w-full">
                <span class="text-left min-w-32 mr-4 mb-1 font-medium text-gray-600 hover:font-semibold">Employment
                    Category</span>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <input matInput formControlName="employmentCategory" />
                </mat-form-field>
            </div>
        </div>
        <!-- Person Company -->
        <div class="flex flex-col w-full">
            <span class="text-left min-w-32 mr-4 mb-1 font-medium text-gray-600 hover:font-semibold">Person
                Company</span>
            <mat-form-field class="fuse-mat-dense flex-auto">
                <input matInput formControlName="personCompany" />
            </mat-form-field>
        </div>


        <!-- Actions -->
        <div class="mt-4 flex flex-col justify-between sm:mt-6 sm:flex-row sm:items-center">


            <div class="mt-4 flex items-center sm:mt-0 justify-end w-fulljustify-end w-full">

                <!-- Save as draft -->
                <button type="button" class="sm:mx-3 rounded-full bg-transparent ring-1 ring-primary mr-2 text-primary"
                    mat-stroked-button (click)="Close()">
                    <span>Cancel</span>
                </button>
                <!-- Send -->
                <button class="order-first sm:order-last rounded-full" [disabled]="!composeForm.valid" mat-flat-button
                    [color]="'primary'" (click)="onSubmit()">
                    {{ buttonText }}
                </button>
            </div>
        </div>
    </form>
</div>