/* 1. Components */
@use 'components/example-viewer';
@use 'components/input';

/* 2. Overrides */
@use 'overrides/angular-material';
@use 'overrides/highlightjs';
@use 'overrides/perfect-scrollbar';
@use 'overrides/quill';



.snackbar-success {
    background: rgba(24, 206, 15, 0.8) !important;
    color: #ffffff !important;
}

.snackbar-info {
    background: rgba(44, 168, 255, 0.8) !important;
    color: #ffffff !important;
}

.snackbar-warning {
    background: rgba(255, 230, 0, 0.8) !important;
    color: #ffffff !important;
}

.snackbar-danger {
    background: rgba(255, 0, 0, 0.8) !important;
    color: #ffffff !important;
}