<div class="flex items-center w-full justify-center">
    <div class="flex min-w-0 flex-auto flex-col">
      <!-- Header -->
      <div
        class="bg-gray-50 flex flex-0 flex-col p-1 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between">
        <div class="min-w-0 flex-1">
          <div class="flex-auto px-1">
            <div class="bg-card min-h-[88vh] my-2 flex flex-col overflow-hidden rounded shadow">
              <div class="flex w-full items-center justify-between">
                <div class="flex justify-start pt-4 px-4 ">
                  <span class="truncate text-xl text-primary mb-2 font-bold leading-7 tracking-tight sm:leading-10 md:text-xl">
                     Case Comments
                  </span>
                </div>
                <div class="flex items-end my-2  mr-2"> 
                  <button class="rounded-full bg-transparent ring-1 ring-primary mr-2" mat-flat-button
                    (click)="onCancel()">
                    <span class="my-auto mx-0 sm:mx-1 hidden sm:block text-md text-primary font-semibold tracking-tight">Go Back</span>
                    <mat-icon class="icon-size-4 prefix stroke-primary"
                      [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                  </button>
                </div>
              </div>
              <div class="bg-white mx-2">
                
 <div class="mt-4 mb-4 grid w-full grid-cols-1">
    <div class="flex flex-auto flex-col ">
        <div class="mx-6 overflow-x-auto">
            <div class="flex w-full max-w-172 flex-col p-6 pb-6 sm:p-8">
                <form [formGroup]="composeForm">
                    <div class="text-2xl font-semibold">Leave a comment</div>
                    <div class="mt-8 flex flex-col items-start sm:flex-row">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <textarea class="rounded-md" matInput [placeholder]="'What\'s on your mind?'" cdkAutosizeMinRows="7"
                                cdkAutosizeMaxRows="10" cdkTextareaAutosize formControlName="comment">
                            </textarea>
                        </mat-form-field>
                    </div>
                    <div class="flex justify-end">
                        <button class="mt-2 rounded-full" mat-flat-button [color]="'primary'" (click)="AddComment()">
                            <mat-icon class="icon-size-5 stroke-white" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                            <span class="ml-2">{{buttonText}}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        @for (comment of comments; track comment){
        <div class="w-11/12 border rounded-lg border-gray-300 hover:border-primary border-l-8 my-2 max-w-7xl px-4 md:px-2 lg:px-3 mx-auto hover:bg-primary-50">
            <div class="w-full flex-col justify-start items-start lg:gap-14 gap-7 inline-flex pt-3">
                <div class="w-full flex-col justify-start items-start gap-8 flex ">
                    <div
                        class="w-full pb-6  border-gray-300 justify-start items-start gap-0.5 inline-flex">
                        <div class="h-10 w-10 flex-0 overflow-hidden rounded-full">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29" id="User" class="w-full h-full" fill="#042f2e">
                              <path d="M14.5 2A12.514 12.514 0 0 0 2 14.5 12.521 12.521 0 0 0 14.5 27a12.5 12.5 0 0 0 0-25Zm7.603 19.713a8.48 8.48 0 0 0-15.199.008A10.367 10.367 0 0 1 4 14.5a10.5 10.5 0 0 1 21 0 10.368 10.368 0 0 1-2.897 7.213ZM14.5 7a4.5 4.5 0 1 0 4.5 4.5A4.5 4.5 0 0 0 14.5 7Z" />
                          </svg>  
                      </div>
                        <div class="w-full flex-col justify-start items-start gap-3.5 inline-flex">
                            <div class="w-full justify-start items-start flex-col flex gap-1">
                                <div class="w-full justify-between items-start gap-1 inline-flex">
                                    <h5 class="text-primary-900 text-lg font-bold leading-snug">{{comment.createdBy}} added a comment</h5>
                                    <span class="text-right text-hint text-sm font-normal leading-5">{{ comment.createdOn |  date: 'h:mm a, MM/dd/yyyy' }}</span>
                                </div>
                                
                                <h5 class="text-gray-800 text-sm font-normal leading-snug">{{ comment.comment }} <br/>
                                   @if(comment.isEdited==1) {
                                    <span class="text-hint italic text-xs font-normal leading-snug ml-3">
                                    
                                        - Last modified by {{comment.modifiedBy}} at {{comment.modifiedOn | date: 'h:mm a, MM/dd/yyyy'}} 
                                    </span>
                                   }

                                </h5>
                                
                            </div>
                            <div class="ml-auto justify-end items-end gap-2 inline-flex">
                                <button class="w-7 h-7 rounded-full bg-primary items-center justify-center"
                                    (click)="editComment(comment.caseCommentId)">
                                    <mat-icon
                                    class="my-1 text-white hover:text-gray-300 icon-size-5 transition-all duration-700 ease-in-out">edit</mat-icon>
                                </button>
                                <button class="w-7 h-7 rounded-full bg-primary items-center justify-center"
                                    (click)="deleteComment(comment.caseCommentId)">
                                    <mat-icon
                                        class="my-1 text-white hover:text-gray-300 icon-size-5 transition-all duration-700 ease-in-out">delete</mat-icon>
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        }
        @empty{
          <div class="flex items-center justify-center max-h-20">
            <div class="text-secondary text-lg">No comments found. Add a new comment to proceed.</div>
          </div>
      }
    </div>
</div>
              </div>
              <div class="flex justify-end p-1 mr-4">
                @if (comments.length > 0) {
                  <div class="my-2 text-md text-right text-gray-400 font-light tracking-tight uppercase sm:flex">
                    <span class="my-auto mx-0 sm:mx-1 hidden sm:block">Total Comments: {{ comments.length }}</span>
                  </div>
                }
              </div>
            </div>
          </div>
          <app-sticky-menu-toggle></app-sticky-menu-toggle>
        </div>
      </div>
    </div>
  </div>
  