<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-2">
        <div class="min-w-0 flex-1">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="truncate text-xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-xl">
                    Case Comments Information
                </h2>
            </div>
        </div>
        <button class="order-first -ml-3 mb-2 sm:order-last sm:mb-0 sm:ml-0" mat-icon-button (click)="toggleDrawer()">
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
    </div>
    <div class="flex-auto pl-4 pr-4">
        <div class="flex w-full items-center justify-between mt-2">
            <div>
                <div class="text-secondary font-medium tracking-tight ml-3 hidden sm:flex">
                    Add Case Comments against Incident.
                </div>
            </div>
            <div class="ml-6 flex items-center">
                <button class="" mat-stroked-button (click)="onCancel()">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-left'"></mat-icon>
                    <span class="ml-2">Back to list</span>
                </button>
            </div>
        </div>

        <div class="mt-4 mb-4 grid w-full grid-cols-1">
            <div class="bg-card flex flex-auto flex-col overflow-hidden shadow ">
                <div class="mx-6 overflow-x-auto">
                    <div class="flex w-full max-w-172 flex-col p-6 pb-6 sm:p-8">
                        <form [formGroup]="composeForm">
                            <div class="text-2xl font-semibold">Leave a comment</div>
                            <div class="mt-8 flex flex-col items-start sm:flex-row">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <textarea class="rounded-md" matInput [placeholder]="'What\'s on your mind?'" cdkAutosizeMinRows="7"
                                        cdkAutosizeMaxRows="10" cdkTextareaAutosize formControlName="comment">
                                    </textarea>
                                </mat-form-field>
                            </div>
                            <div class="flex justify-end">
                                <button class="mt-2" mat-flat-button [color]="'primary'" (click)="AddComment()">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                                    <span class="ml-2">{{buttonText}}</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                @for (comment of comments; track comment.comment){
                <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto hover:bg-gray-100">
                    <div class="w-full flex-col justify-start items-start lg:gap-14 gap-7 inline-flex pt-3">
                        <div class="w-full flex-col justify-start items-start gap-8 flex">
                            <div
                                class="w-full pb-6 border-b border-gray-300 justify-start items-start gap-0.5 inline-flex">
                                <img class="w-10 h-10 rounded-full object-cover mr-3"
                                    src="https://img.icons8.com/?size=100&id=84898&format=png&color=000000" alt="User image" />
                                <div class="w-full flex-col justify-start items-start gap-3.5 inline-flex">
                                    <div class="w-full justify-start items-start flex-col flex gap-1">
                                        <div class="w-full justify-between items-start gap-1 inline-flex">
                                            <h5 class="text-gray-600 text-lg font-normal leading-snug"><span class="text-gray-800 text-lg font-semibold">{{comment.createdBy}}</span> added a comment</h5>
                                            <span class="text-right text-gray-500 text-sm font-normal leading-5">{{ comment.createdOn |  date: 'h:mm a, MM/dd/yyyy' }}</span>
                                        </div>
                                        
                                        <h5 class="text-gray-800 text-sm font-normal leading-snug">{{ comment.comment }} <br/>
                                           @if(comment.isEdited==1) {
                                            <span class="text-gray-600 italic text-xs font-normal leading-snug ml-3">
                                            
                                                - Last modified by {{comment.modifiedBy}} at {{comment.modifiedOn | date: 'h:mm a, MM/dd/yyyy'}} 
                                            </span>
                                           }

                                        </h5>
                                        
                                    </div>
                                    <div class="ml-auto justify-end items-start gap-5 inline-flex">
                                        <button class="w-2 h-2 flex items-center justify-center"
                                            (click)="editComment(comment.caseCommentId)">
                                            <mat-icon
                                                class="text-gray-500 hover:text-gray-800 transition-all duration-700 ease-in-out">edit</mat-icon>
                                        </button>
                                        <button class="w-2 h-2 flex items-center justify-center"
                                            (click)="deleteComment(comment.caseCommentId)">
                                            <mat-icon
                                                class="text-gray-500 hover:text-gray-800 transition-all duration-700 ease-in-out">delete</mat-icon>
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                }
                @empty{
                <li>There are no items.</li>}
            </div>
        </div>
    </div>
</div>