<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-2">
        <div class="min-w-0 flex-1">

            <!-- Title -->
            <div class="mt-2">
                <h2 class="truncate text-xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-xl">
                    Case Comments Information
                </h2>
            </div>
        </div>
        <button class="order-first -ml-3 mb-2 sm:order-last sm:mb-0 sm:ml-0" mat-icon-button (click)="toggleDrawer()">
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
    </div>

    <div class="flex-auto pl-4  pr-4">

        <div class="flex w-full items-center justify-between mt-2">
            <div>

                <div class="text-secondary font-medium tracking-tight ml-3 hidden sm:flex">
                    Add Case Comments against Incident.
                </div>
            </div>
            <div class="ml-6 flex items-center">
                <button class="" mat-stroked-button (click)="onCancel()">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-left'"></mat-icon>
                    <span class="ml-2">Back to list</span>
                </button>


            </div>
        </div>

        <div class="mt-4 mb-4 grid w-full grid-cols-1">

            <div class="bg-card flex flex-auto flex-col overflow-hidden  shadow ">

                <div class="mx-6 overflow-x-auto">
                    <fuse-card class="flex w-full max-w-140 flex-col p-6 pb-6 sm:p-8">
                        <form [formGroup]="composeForm">
                            <div class="text-xl font-semibold">Leave a comment</div>
                            <div class="mt-8 flex flex-col items-start sm:flex-row">
                                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                    <textarea matInput [placeholder]="'What\'s on your mind?'" [rows]="7"
                                        cdkTextareaAutosize formControlName="comment">
                                    </textarea>
                                </mat-form-field>
                            </div>
                            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="AddComment()">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                                <span class="ml-2">{{buttonText}}</span>
                            </button>
                        </form>
                    </fuse-card>
                </div>

                @for (comment of comments; track comment.comment){
                <mat-card appearance="outlined">
                    <mat-card-content>{{ comment.comment }} </mat-card-content>
                    <!-- Action Buttons (Edit and Delete) with Icons -->
                    <mat-card-actions>
                        <button mat-icon-button (click)="editComment(comment.caseCommentId)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteComment(comment.caseCommentId)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>}
                @empty{
                <li>There are no items.</li>}
                




            </div>

        </div>

    </div>
</div>