<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="flex flex-0 flex-col border-b bg-gray-50 p-1 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between"
    >
        <div class="min-w-0 flex-1">
            <div class="flex-auto px-1">
                <div
                    class="bg-card mt-2 flex min-h-[88vh] flex-col overflow-hidden rounded shadow"
                >
                    <form [formGroup]="rolesForm">
                        <div class="p-4">
                            <span
                                class="mb-2 truncate text-xl font-bold leading-7 tracking-tight text-primary sm:leading-10 md:text-xl"
                            >
                                Roles Configuration
                            </span>
                            <div class="flex flex-col md:flex-row md:space-x-4">
                                <div class="flex w-full flex-col">
                                    <mat-form-field
                                        class="fuse-mat-dense flex-auto"
                                    >
                                        <mat-label
                                            class="font-medium text-gray-600 hover:font-semibold"
                                            >Role Name</mat-label
                                        >
                                        <input
                                            matInput
                                            formControlName="roleName"
                                            required
                                        />
                                        @if (
                                            rolesForm
                                                .get('roleName')
                                                ?.hasError('required') &&
                                            rolesForm.get('roleName')?.touched
                                        ) {
                                            <mat-error
                                                style="
                                                    color: red;
                                                    font-size: 12px;
                                                "
                                            >
                                                Role name is required.
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <strong>Menus</strong>
                        <!-- <p>(Total Menus: {{ selectSingle.length }})</p> -->
                    </form>
                    <div id="tree-begins-here">
                        <mat-checkbox
                            [color]="'primary'"
                            [(ngModel)]="selectAll"
                            (change)="toggleSelectAll()"
                        >
                            Select All
                        </mat-checkbox>

                        <mat-tree
                            [dataSource]="dataSource"
                            [treeControl]="treeControl"
                        >
                            <!-- This is the tree node template for leaf nodes -->
                            <mat-tree-node
                                *matTreeNodeDef="let node"
                                matTreeNodePadding
                            >
                                <!-- use a disabled button to provide padding for tree leaf -->
                                <button mat-icon-button disabled></button>
                                <mat-checkbox
                                    value=""
                                    color="primary"
                                    [checked]="node.checked"
                                    (change)="
                                        onNodeCheckboxChange(node, $event)
                                    "
                                >
                                    {{ node.name }}
                                </mat-checkbox>
                            </mat-tree-node>
                            <!-- This is the tree node template for expandable nodes -->
                            <mat-tree-node
                                *matTreeNodeDef="let node; when: hasChild"
                                matTreeNodePadding
                                matTreeNodeToggle
                                [cdkTreeNodeTypeaheadLabel]="node.title"
                            >
                                <button
                                    mat-icon-button
                                    matTreeNodeToggle
                                    [attr.aria-label]="'Toggle ' + node.title"
                                >
                                    <mat-icon class="mat-icon-rtl-mirror">
                                        {{
                                            treeControl.isExpanded(node)
                                                ? 'expand_more'
                                                : 'chevron_right'
                                        }}
                                    </mat-icon>
                                </button>
                                <mat-checkbox
                                    value=""
                                    color="primary"
                                    [checked]="node.checked"
                                    (change)="
                                        onNodeCheckboxChange(node, $event)
                                    "
                                >
                                    {{ node.name }}
                                </mat-checkbox>
                            </mat-tree-node>
                        </mat-tree>
                    </div>
                    <div class="flex items-center justify-end">
                        <button
                            class="mr-2 rounded-full bg-transparent text-primary ring-1 ring-primary"
                            mat-stroked-button
                            type="button"
                            (click)="navigateUserBack()"
                        >
                            Back
                        </button>
                        <button
                            class="ml-4 rounded-full"
                            mat-flat-button
                            type="button"
                            [color]="'primary'"
                            (click)="saveMenuInfo()"
                            [disabled]="
                                !rolesForm.controls['roleName'].valid ||
                                getSelectedNodeIds().length === 0
                            "
                        >
                            {{ roleId === '-1' ? 'Save' : 'Update' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
