<div class="flex min-w-0 flex-auto flex-col">
  <!-- Header -->
  <div
    class="bg-gray-50 flex flex-0 flex-col border-b p-1 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between">
    <div class="min-w-0 flex-1">
      <div class="flex-auto px-1">
        <div class="bg-card min-h-[88vh] my-2 flex flex-col overflow-hidden rounded shadow">
          <div class="flex w-full items-center justify-between">
            <div class="flex justify-start pt-4 px-4 ">
              <span class="truncate text-xl text-primary mb-2 font-bold leading-7 tracking-tight sm:leading-10 md:text-xl">
                Incident Injury Details
              </span>
            </div>
            <div class="flex items-end my-2  mr-2"> 
              <button class="rounded-full bg-transparent ring-1 ring-primary mr-2" mat-flat-button
                (click)="onCancel()">
                <span class="my-auto mx-0 sm:mx-1 hidden sm:block text-md text-primary font-semibold tracking-tight">Go Back</span>
                <mat-icon class="icon-size-4 prefix stroke-primary"
                  [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
              </button>
              <button class="rounded-full" mat-flat-button [color]="'primary'" (click)="openComposeDialog(-1)">
                <mat-icon class="icon-size-4 stroke-white" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                <span class="my-auto mx-0 sm:mx-1 hidden sm:block text-md font-semibold tracking-tight ">Add New</span>
              </button>
            </div>
          </div>
          <div class="bg-white mx-2">
            <table mat-table matSort [dataSource]="injuries"
              class="max-w-full bg-white border border-gray-200 drop-shadow-md rounded-lg">
              <!-- Sr number -->
              <ng-container class="w-25" matColumnDef="srNo">
                <th mat-header-cell *matHeaderCellDef
                  class="px-3 text-left text-md font-semibold text-gray-600 bg-slate-50 border-t border-l border-b border-gray-200">
                  No.
                </th>
                <td mat-cell *matCellDef="let injury; let i = index"
                  class="px-3 text-md text-gray-500 border-b border-l">
                  {{ i + 1 }}
                </td>
              </ng-container>

              <!-- Injury Category ID -->
              <ng-container class="w-25" matColumnDef="injCatId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="px-3 text-left text-md font-semibold text-gray-600 bg-slate-50 border-t border-b border-gray-200">
                  Category
                </th>
                <td mat-cell *matCellDef="let injury" class="px-3 text-md text-gray-500 border-b">
                  {{ injury.injCatId }}
                </td>
              </ng-container>

              <!-- Course Of Event -->
              <ng-container class="w-25" matColumnDef="courseOfEvent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="px-3 text-left text-md font-semibold text-gray-600 bg-slate-50 border-t border-b border-gray-200">
                  Course Of Event
                </th>
                <td mat-cell *matCellDef="let injury" class="px-3 text-md text-gray-500 border-b">
                  {{ injury.courseOfEvent }}
                </td>
              </ng-container>

              <!-- Injury Type ID -->
              <ng-container class="w-25" matColumnDef="injTypeId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="px-3 text-left text-md font-semibold text-gray-600 bg-slate-50 border-t border-b border-gray-200">
                  Type
                </th>
                <td mat-cell *matCellDef="let injury" class="px-3 text-md text-gray-500 border-b">
                  {{ injury.injTypeId }}
                </td>
              </ng-container>

              <!-- Body Part -->
              <ng-container class="w-25" matColumnDef="bodyPart">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="px-3 text-left text-md font-semibold text-gray-600 bg-slate-50 border-t border-b border-gray-200">
                  Body Part
                </th>
                <td mat-cell *matCellDef="let injury" class="px-3 text-md text-gray-500 border-b">
                  {{ injury.bodyPart }}
                </td>
              </ng-container>

              <!-- Person Name -->
              <ng-container class="w-25" matColumnDef="personName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="px-3 text-left text-md font-semibold text-gray-600 bg-slate-50 border-t border-b border-gray-200">
                  Person Name
                </th>
                <td mat-cell *matCellDef="let injury" class="px-3 text-md text-blue-600 border-b">
                  <a (click)="openComposeDialog(injury.caseInjuryId)" class="underline hover:text-blue-800">
                    {{ injury.personName }}
                  </a>
                </td>
              </ng-container>

              <!-- Person Gender -->
              <ng-container class="w-25" matColumnDef="personGender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="px-3 text-left text-md font-semibold text-gray-600 bg-slate-50 border-t border-b border-gray-200">
                  Gender
                </th>
                <td mat-cell *matCellDef="let injury" class="px-3 text-md text-gray-500 border-b">
                  {{ injury.personGender }}
                </td>
              </ng-container>

              <!-- Person Nationality -->
              <ng-container class="w-25" matColumnDef="personNationality">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="px-3 text-left text-md font-semibold text-gray-600 bg-slate-50 border-t border-b border-gray-200">
                  Nationality
                </th>
                <td mat-cell *matCellDef="let injury" class="px-3 text-md text-gray-500 border-b">
                  {{ injury.personNationality }}
                </td>
              </ng-container>

              <!-- Person Designation -->
              <ng-container class="w-25" matColumnDef="personDesignation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="px-3 text-left text-md font-semibold text-gray-600 bg-slate-50 border-t border-r border-b border-gray-200">
                  Designation
                </th>
                <td mat-cell *matCellDef="let injury" class="px-3 text-md text-gray-500 border-b border-r">
                  {{ injury.personDesignation }}
                </td>
              </ng-container>

              <!-- Header and Rows -->
              <tr mat-header-row *matHeaderRowDef="recentTransactionsTableColumns"
                class="bg-slate-50 border h-8 hover:bg-red-700">
              </tr>
              <tr mat-row *matRowDef="let row; columns: recentTransactionsTableColumns;" class="h-8 ">
              </tr>
            </table>
          </div>
          <div class="flex justify-end p-1 mr-4">
            <div class="my-2 text-md text-right text-gray-400 font-light tracking-tight uppercase sm:flex">
              Total Records: {{ injuries.length }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-sticky-menu-toggle></app-sticky-menu-toggle>
  </div>