<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <!-- Header -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-4 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Loader -->

        <!-- Title -->
        <div class="text-xl font-extrabold tracking-tight">
            Incident Reporting
        </div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                    [placeholder]="'Search incidents'" />
            </mat-form-field> -->
            <!-- Add incident button -->
            <button
                class="ml-2 rounded-full"
                mat-flat-button
                [color]="'primary'"
                (click)="create('-1')"
            >
                <mat-icon
                    class="stroke-white icon-size-4"
                    [svgIcon]="'heroicons_solid:plus'"
                ></mat-icon>
                <span
                    class="mx-0 my-auto hidden text-md font-semibold tracking-tight sm:mx-1 sm:block"
                    >Add Role</span
                >
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- incidents list -->
        <div
            class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto"
        >
            <!-- @if (cases$ | async; as cases) {
            @if (cases.length > 0) {-->
            <div class="grid">
                <!-- Header -->
                <div
                    class="inventory-grid text-secondary sticky top-0 z-10 grid gap-2 bg-gray-50 px-4 py-2 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                    matSort
                    matSortDisableClear
                >
                    <div>No</div>
                    <div class="hidden md:block" [mat-sort-header]="'roleName'">
                        Role Name
                    </div>
                    <div [mat-sort-header]="'createdBy'" class="lg:block">
                        Created By
                    </div>
                    <div [mat-sort-header]="'createdOn'">
                        Created On
                    </div>
                    <div [mat-sort-header]="'timezone'" class="lg:block">
                        TimeZone
                    </div>
                </div>
                <!-- Rows -->
                 <!-- @if (roles$ | async; as cases) { -->
                    @for (
                    role of userRoles;
                track role
                ) {
                <div class="inventory-grid grid text-md items-center gap-2 border-b px-4 md:px-8  h-[35px]">

                    <div class="flex items-center">
                        <div class="overflow-hidden">
                            {{$index+1}}
                        </div>
                    </div>


                    <!-- <div class="hidden truncate md:block">
                        <a (click)="create(role.id)" class="link" >
                            {{ case.caseNumber }}
                        </a>
                    </div> -->

                    <!-- Name -->
                    <div class="truncate" >
                        {{ role.name }}
                    </div>

                    <div class="truncate hidden lg:block">
                        {{ role.createdBy }}
                    </div>

                    <div>
                        {{
                        role.createdOn
                        }}
                    </div>

                    <div class="hidden lg:block"> {{role.timezone}}</div>

                </div>
                }
                <!-- } -->
            </div>

            <!-- <mat-paginator
                class="z-10  h-11 xs:h-15 bg-gray-50 dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t overflow-none"
                [ngClass]="{ 'pointer-events-none': isLoading }" [length]="pagination.length"
                [pageIndex]="pagination.page" [pageSize]="pagination.size" [pageSizeOptions]="[10, 25, 100]"
                [showFirstLastButtons]="true">
            </mat-paginator> -->
             <!-- } @else {
            <div class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16">
                There are no cases!
            </div>
            }
            } -->
            </div>
        </div>
    </div>
<!-- </div> -->
