<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-2">
        <div class="min-w-0 flex-1">

            <!-- Title -->
            <div class="mt-2">
                <h2 class="truncate text-xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-xl">
                    Signatures Information
                </h2>
            </div>
        </div>
        <button class="order-first -ml-3 mb-2 sm:order-last sm:mb-0 sm:ml-0" mat-icon-button (click)="toggleDrawer()">
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
    </div>

    <div class="flex-auto pl-4  pr-4">

        <div class="flex w-full items-center justify-between mt-2">
            <div>

                <div class="text-secondary font-medium tracking-tight ml-3 hidden sm:flex">
                    Case Signatures will automatically be added against the case
                </div>
            </div>
            <div class="ml-6 flex items-center">
                <button class="" mat-stroked-button (click)="onCancel()">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-left'"></mat-icon>
                    <span class="ml-2">Back to list</span>
                </button>
                <button class="ml-3" mat-flat-button [color]="'primary'" (click)="openComposeDialog( )">
                    <span class="ml-2"> Review</span>
                </button>


            </div>
        </div>

        <div class="mt-4 mb-4 grid w-full grid-cols-1">

            <div class="bg-card flex flex-auto flex-col overflow-hidden  shadow ">

                <div class="mx-6 overflow-x-auto">
                    <table mat-table matSort [dataSource]="list" class="w-full bg-transparent">

                        <!-- No. Column -->
                        <ng-container matColumnDef="caseSignatureNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                        </ng-container>

                        <!-- Internal/External Column -->
                        <ng-container matColumnDef="signatureType">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Signature Type</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.type }}
                            </td>
                        </ng-container>

                        <!-- Analysis Methodology Column -->
                        <ng-container matColumnDef="signedBy">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Signed By</th>
                            <td mat-cell *matCellDef="let element">{{ element.signedBy }}</td>
                        </ng-container>

                        <!-- Details Column -->
                        <ng-container matColumnDef="signDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Signature Date</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.signDate | date: 'yyyy-MM-dd HH:mm:ss' }}
                            </td>
                        </ng-container>



                        <!-- Header and Rows -->
                        <tr mat-header-row *matHeaderRowDef="recentTransactionsTableColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: recentTransactionsTableColumns;"></tr>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>